.navbarLogo {
    max-height: 100px;
    
}

.text-dokdo {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 7em;
}

.text-libre {
    font-family: 'Averia Libre', cursive;
    font-size: 5em;
}

.text-turncoat {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.5em;
}

.bg-charcoal {
    background-image: radial-gradient(#232425, #2e2626);
}

.bg-navbar {
    background-image: url("/assets/images/SVG/moltenNavbar.svg");
    background-color: transparent;
    background-size: cover;
    background-position: center;


}

.logoHolder {
    width: 60px;
}

.navbarBelow {
    background-image: url("/assets/images/SVG/navBarBelow.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    overflow: visible;

}

.paralsec {
    background-image: url("/assets/images/profileBG.png");
    }

.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }

.profile-pic {
    border-radius: 100%;
}

.bg-lava {
    background-image: linear-gradient(to top, goldenrod, darkorange);
}

.text-orange {
    color: darkorange;
}

.behind {
    position: relative;
    z-index: -10;
    margin-top: -20px;
}

.videoHeader {
    position: relative;
    
}

#videoStore {
    margin-top: -2.5%;
}

.headerFront {
    position: absolute;
    z-index: 10;
    top: 5%;
    height: 90%;
    left: 33%; 
}

#headerStore {
    height: 80%;
    left: 37%;
    top: 6%
}

.supportBusiness {
    margin-top: -2%;
}

html body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.mainSlideshow {
    margin-top: -3%;
}

.tagline {
    margin-top: -6px;
}

.font-crimson {
    font-family: 'Crimson Pro', serif;
}

.bg-orangered {
    background-color: orangered;
}